/*--------------------------------------------------------------
Archive pages
 - General layout for page design
 - Contains markup for story-column. Used in a template and in a block.
--------------------------------------------------------------*/

.archive {

	#landing-info-wrap {
		background-color: $uds-color-base-gray-1;
		position: relative;
		overflow: hidden;
	}

	.landing-info {
		max-width: 1200px;
		margin: 0 auto;
		padding: $uds-size-spacing-4 $uds-size-spacing-4 $uds-size-spacing-2;
	}

	.landmark {
		// Like an H4, highlight-gold
		font-size: 1.25rem;
		line-height: 1.625rem;
		letter-spacing: -.01875rem;
		font-weight: 700;
		box-shadow: -.15em 0 0 #ffc627, .15em 0 0 #ffc627;
		background: #ffc627;
		color: #191919;
	}

	.topic-name {
		margin-top: $uds-size-spacing-1;
		margin-bottom: 0;
	}

	.topic-description {
		padding-bottom: $uds-size-spacing-4;
		margin-bottom: 0;
		border-bottom: 2px dotted #d4d4d4;
	}

	#article-grid-wrap {
		position: relative;
		overflow: hidden;

		background:
			linear-gradient(#ffffff, #ffffff) bottom / 100% 7rem no-repeat,
			$uds-color-base-gray-1;

		>* {
			position: relative;
			z-index: 1;
		}
	}

	#article-grid-wrap::after {
		content: "";
		position: absolute;
		inset: auto 0 7rem 0;
		height: 100px;
		width: 100%;
		background-image: url("../../img/layered-slant.svg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100% 100%;
		pointer-events: none;
		z-index: 0;
	}

	#article-grid {
		max-width: 1200px;
		margin: 0 auto;
		padding: $uds-size-spacing-4;
		display: flex;
		flex-direction: column;
		gap: $uds-size-spacing-4;

		.card-title a {
			text-decoration: underline;
		}

		// Calendar icon
		.card-date {
			margin-left: 1rem;
			margin-right: 1rem;
			padding: 0 1rem 1rem;

			svg {
				margin-right: $uds-size-spacing-2;
			}
		}

	}

	#story-column {
		display: flex;
		flex-direction: column;
		grid-gap: $uds-size-spacing-4;

		margin-top: $uds-size-spacing-4;

		.story-date svg {
			margin-right: $uds-size-spacing-2;
		}

	}

	.badge-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: $uds-size-spacing-1;

		.badge {
			padding: 4px 12px; // specific numbers from UDS system.
			line-height: 18px;

		}
	}
}

#pagination-wrapper {
	margin: 0 auto;
	padding: 8rem 0 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	svg {
		margin-right: $uds-size-spacing-2;
	}
}

/*--------------------------------------------------------------
3. Desktop, MD
--------------------------------------------------------------*/
@include media-breakpoint-up($md) {

	.archive {

		.landmark {
			// Like an H3, only for desktop
			font-size: 1.5rem;
			line-height: 1.75rem;
			letter-spacing: -.0525rem;
		}

		#article-grid {

			max-width: 1200px;
			margin: 0 auto;

			// Thirds is the "default"
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $uds-size-spacing-4;

			&.halves {
				grid-template-columns: 1fr 1fr;
			}

		}

		#story-column {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $uds-size-spacing-6;

			margin-top: $uds-size-spacing-8;
		}
	}
}

/*--------------------------------------------------------------
3. Desktop, XL
--------------------------------------------------------------*/
@include media-breakpoint-up($xl) {

	.archive {

		.landing-info {
			padding: $uds-size-spacing-4 0 $uds-size-spacing-2 0;
		}

		.topic-description {
			padding-right: 25%;
		}

		#article-grid {
			padding: $uds-size-spacing-4 0;

			// Thirds is the "default"
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: $uds-size-spacing-4;

			&.halves {
				grid-template-columns: 1fr 1fr;
			}

		}

		#story-column {
			.story-thumb {
				figure {
					width: 150px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
4. Story-thumb
- Includes responsive styles.
--------------------------------------------------------------*/

.story-thumb {
	display: flex;
	gap: $uds-size-spacing-4;
	border-bottom: 2px solid $uds-color-base-gray-2;
	padding-bottom: $uds-size-spacing-4;

	&:last-child {
		border-bottom: 0;
	}

	h3 {
		margin-top: 0;
		margin-bottom: $uds-size-spacing-1;
	}

	figure {
		display: none;
	}
}

.badge-row {
	display: flex;
	flex-direction: row;
	// gap: $uds-size-spacing-2;
	row-gap: $uds-size-spacing-1;
	flex-wrap: wrap;
	margin-top: $uds-size-spacing-1;

	.badge {
		padding: 4px 12px; // specific numbers from UDS system.
		line-height: 18px;
	}
}

@include media-breakpoint-up($md) {
	.story-thumb {
		border-bottom: 0;
	}

	.story-thumb figure {
		display: block;
		aspect-ratio: 16 / 9;
		width: 60px;
		flex-shrink: 0;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}
}