/*--------------------------------------------------------------
# External News blocks / elements
#
# 1. external-source
# 2. external-summary
--------------------------------------------------------------
1. External source
--------------------------------------------------------------*/

.external-sourceinfo {
	container-type: inline-size;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	// Like an h4, less heavy font weight
	font-size: 1.25rem;
	line-height: 1.625rem;
	letter-spacing: -.01875rem;
	font-weight: 500;
	margin: 1rem 0;

	svg {
		padding-right: $uds-size-spacing-1;
	}
}

// Container query for responsive design. Works within a card setup as well as on mobile.
@container (max-width: 400px) {
	.external-sourceinfo {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.external-sourceinfo>* {
		width: 100%;
	}
}

/*--------------------------------------------------------------
2. External summary
--------------------------------------------------------------*/

details[open] {
	.summary-text {
		background: $uds-color-base-gray-1;
		border: $uds-color-base-gray-2;
		padding: $uds-size-spacing-2;
		margin-top: $uds-size-spacing-1;
	}
}

/*--------------------------------------------------------------
3. External image
--------------------------------------------------------------*/
.external-social {
	margin-bottom: $uds-size-spacing-2;
}
