/*--------------------------------------------------------------
# External News blocks / elements
#
# 1. external-source
# 2. external-summary
# 3. external-image
# 4. external-headline
--------------------------------------------------------------
1. External source
--------------------------------------------------------------*/

.external-source {
	margin-bottom: $uds-size-spacing-2;
}

/*--------------------------------------------------------------
2. External summary
--------------------------------------------------------------*/

details[open] {
	.summary-text {
		background: $uds-color-base-gray-1;
		border: $uds-color-base-gray-2;
		padding: $uds-size-spacing-2;
		margin-top: $uds-size-spacing-1;
	}
}

/*--------------------------------------------------------------
3. External image
--------------------------------------------------------------*/
.external-social {
	margin-bottom: $uds-size-spacing-2;
	width: 100%;
	aspect-ratio: 16 / 9;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
}


/*--------------------------------------------------------------
3. External Headline
- Add external link SVG after headline when link is present
--------------------------------------------------------------*/
.external-headline {
	a {
		color: $uds-color-base-gray-7;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	svg {
		margin-left: $uds-size-spacing-1;
	}
}

@include media-breakpoint-down($md) {
	.external-headline a {
		text-decoration: underline;
	}
}

// Prevent click events within the editor.
.block-editor-block-list__block .external-headline a {
	pointer-events: none;
	cursor: default;
}