/*--------------------------------------------------------------
# Media Isotope block
#
#  - Main loop formatting
--------------------------------------------------------------*/

.wp-block-external-news {
	.col-filters {
		background-color: $uds-color-base-gray-2;
		padding: $uds-size-spacing-4;
		margin-bottom: $uds-size-spacing-4;

		#filter-reset {
			svg {
				margin-right: $uds-size-spacing-1;
			}
		}
	}


	.news-feed {

		.news-post {

			height: auto;
			margin-bottom: $uds-size-spacing-4;

			.publications {
				position: absolute;
				top: 0;
				left: 0;

				.badge {
					margin-top: 0;
					background-color: #191919;
					color: #ffffff;
					border-color: #191919;
				}
			}

			.card-title svg {
				margin-left: $uds-size-spacing-1;
			}

			.timestamp {
				display: flex;
				gap: $uds-size-spacing-1;

				time:after {
					content: '•';
					margin-left: $uds-size-spacing-1;
				}

				button {
					color: $uds-color-base-maroon;
					text-decoration: underline;
					border: none;
					background-color: transparent;
					width: auto;
					cursor: pointer;
					padding: 0px;
					text-align: right;
					justify-self: end;
					font-size: 1rem;
				}
			}

			.related-person {
				margin-top: $uds-size-spacing-2;
				grid-template-columns: 40px 1fr;

				.search-image {
					max-width: 40px;
				}

				.display-name {
					font-weight: 700;
				}

				.title {
					font-weight: 400;
				}
			}
		}
	}
}

// Desktop
@include media-breakpoint-up($md) {

	.wp-block-external-news {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto;
		gap: 2rem;

		.col-filters {
			background-color: transparent;
			padding: 0;
			margin-bottom: 0;
		}
	}

	.news-feed {

		.news-post {
			width: calc(50% - 2rem);
			margin: 0 2rem 2rem 0;
		}
	}
}
