/*--------------------------------------------------------------
# News post header
# - Mobile first
# - Desktop
# - Featured image
--------------------------------------------------------------*/
.post-header {
	padding-top: $uds-size-spacing-4;
	margin-bottom: 2rem;

	h2.excerpt {
		font-weight: 400;
		font-size: 1.75rem;
		line-height: 2rem;
		letter-spacing: -.04rem;
	}

	.attribution {
		border-top: 2px dotted $uds-color-base-gray-3;
		padding-top: $uds-size-spacing-3;

		display: flex;
		flex-direction: column;

		p {
			margin-bottom: .5rem;
		}

		>.entry-byline {
			font-size: 18px;
			margin-bottom: 0;
		}

		>.entry-date {
			margin-bottom: 1rem;

			svg {
				margin-right: $uds-size-spacing-1;
			}
		}
	}

	.tags {
		display: inline;
		margin-bottom: $uds-size-spacing-2;

		svg {
			margin-right: $uds-size-spacing-1;
		}
	}
}

@include media-breakpoint-up($md) {
	.post-header {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(5, auto);

		.post-title {
			grid-row: 2;
			grid-column: 1 / span 2;
			margin: 0;
			z-index: 2;
		}

		.excerpt {
			grid-row: 3;
			grid-column: 1 / span 2;
			max-width: 70%;
			margin-top: $uds-size-spacing-4;
			margin-bottom: $uds-size-spacing-3;
		}

		.attribution {
			display: contents;

			.entry-date {
				grid-row: 1;
				grid-column: 1;
				margin-bottom: .75rem;
				align-content: center;
			}

			.entry-byline {
				grid-column: 1 / span 2;
			}
		}

		.tags {
			// grid-row: 1;
			// grid-column: 2;
			// font-weight: 700;
			// margin-bottom: 10px;

			// .tag-categories,
			// .tag-schools {
			// 	display: inline-block;
			// 	margin: 0;
			// 	padding: 0;
			// 	z-index: 1;

			// li {
			// 	display: inline;

			// 	&:before {
			// 		content: '';
			// 		padding: 0; // Zero out to null mobile display
			// 	}
			// }

			// a {
			// 	color: $uds-color-base-gray-7;
			// 	text-decoration: underline;

			// 	margin: 0 1rem;
			// 	padding: 12px .5rem 1rem;
			// 	background-color: $uds-color-base-gray-2;
			// 	position: relative;

			// 	&:before {
			// 		content: '';
			// 		display: block;
			// 		left: -40px;
			// 		top: 0;
			// 		position: absolute;
			// 		width: 40px;
			// 		height: 48px;
			// 		aspect-ratio: 1;
			// 		clip-path: polygon(0 100%, 100% 0, 100% 100%);
			// 		background: $uds-color-base-gray-2;
			// 	}

			// 	&:after {
			// 		content: '';
			// 		display: block;
			// 		right: -40px;
			// 		top: 0;
			// 		position: absolute;
			// 		width: 40px;
			// 		height: 48px;
			// 		aspect-ratio: 1;
			// 		clip-path: polygon(0 100%, 0 0, 100% 100%);
			// 		background: $uds-color-base-gray-2;
			// 	}
			// }

			// li:nth-child(even) a {
			// 	background-color: $uds-color-base-gray-3;

			// 	&:before {
			// 		background: $uds-color-base-gray-3;
			// 	}

			// 	&:after {
			// 		background: $uds-color-base-gray-3;
			// 	}
			// }

		}
	}
}

/**
 * Typography from UDS extends to 577px only. Extending through normal $md breakpoint.
 */
@include media-breakpoint-down($md) {
	.post-header {
		.post-title {
			// UDS styles 'break' at 577px.
			// Extending small style through normal BS breakpoint.
			font-size: 2.25rem;
			line-height: 2.5rem;
			letter-spacing: -.078rem;
		}

		h2.excerpt {
			font-weight: 400;
			font-size: 1.75rem;
			line-height: 2rem;
			letter-spacing: -.04rem;
		}
	}
}

/*--------------------------------------------------------------
News Featured Image
--------------------------------------------------------------*/
.news-featured-img {
	max-width: none;

	figcaption {
		border-top: none;
		opacity: 1;
		background: #fff 0% 0% no-repeat padding-box;
		padding-top: 1rem;
		font-size: .875rem; // 14px;

		p {
			margin-bottom: 0;
		}
	}
}

// Limit width of the caption starting at md breakpoint.
@include media-breakpoint-up($md) {
	figcaption p {
		max-width: calc(75% - 2rem) // 75% width of the image minus 2rem gap
	}
}
