/*--------------------------------------------------------------
# News article layout
# - News grid definitions, mobile first
# - Desktop grid definitions
# - Related posts section
--------------------------------------------------------------*/
.news-article {
	padding: 0;

	.news-grid {
		aside.is-style-news-aside {
			margin-bottom: $uds-size-spacing-4;
		}
	}
}

// Tablet and up
@include media-breakpoint-up($lg) {
	.news-article {

		.news-grid {
			display: grid;
			grid-template-columns: min(calc(66% - 2rem), 100%) 1fr;
			column-gap: 2rem;
			position: relative;

			&>* {
				grid-column: 1;
			}

			&>.alignfull {
				width: 100%;
				grid-column: 1 / span 2;
			}

			aside.is-style-news-aside {
				position: absolute;
				top: 0;
				right: 0;
				width: calc(34% - 2rem);
				max-width: 100%;
			}
		}
	}
}

#related-posts {
	background-color: $uds-color-base-gray-1;
	padding: $uds-size-spacing-6 0;

	.card {
		margin-bottom: $uds-size-spacing-4;
	}
}

// md breakpoint and up, always two columns
@include media-breakpoint-up($md) {
	#related-posts {
		padding: $uds-size-spacing-12 0;

		.card-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			grid-column-gap: $uds-size-spacing-4;
			grid-row-gap: $uds-size-spacing-4;
		}

		.card-wrapper.two-col {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

// lg breakpoint, jump out to three columns
@include media-breakpoint-up($lg) {
	#related-posts {

		.card-wrapper {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.news-article .news-grid .wp-block-image.is-style-figure-vert {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	img {
		width: 65%;
		height: auto;
	}

	figcaption {
		border-bottom: 1px solid #d0d0d0;
		padding: .75rem;
		font-size: .75rem;
		padding-left: $uds-size-spacing-3;
	}
}


// Add responsive ruleset to standard image block.
.news-article .wp-block-image img {
	width: 100%;
	height: auto;
}

// New styles for "figure vert"
.news-article .wp-block-image.is-style-figure-vert {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	img {
		width: 65%;
		height: auto;
	}

	figcaption {
		border-bottom: 1px solid #d0d0d0;
		padding: .75rem;
		font-size: .75rem;
		padding-left: $uds-size-spacing-3;
	}
}
