/*--------------------------------------------------------------
# News elements
# - Quote block
# - Related terms
# - Highlight title, margin adjustement
# - Badge + featured image overlap.
# - Related person
# - Sidebar mobile styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
News Quote
--------------------------------------------------------------*/
.news-quote {

	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	background-color: $uds-color-base-gray-2;

	.open-quote {
		--p: 50px;
		height: 80px;
		aspect-ratio: 1.1;
		clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
		background: #ffffff;

		svg {
			width: 48px;
			background-color: #ffffff;
			fill: $uds-color-base-gray-2;
		}
	}

	.close-quote {
		--p: 50px;
		height: 80px;
		aspect-ratio: 1.1;
		clip-path: polygon(var(--p) 0, 100% 0, 100% 100%, 0 100%);
		background: #ffffff;
		margin-left: auto;
		align-self: flex-end;
		position: relative;
		bottom: -2px;

		svg {
			width: 48px;
			background-color: #ffffff;
			fill: $uds-color-base-gray-2;
			transform: rotate(180deg);
			float: right;
			margin-top: 2rem;
		}
	}

	.quote-wrap {
		padding-left: $uds-size-spacing-2;
		padding-top: $uds-size-spacing-2;
		min-height: $uds-size-spacing-12;
	}

	p {
		// Like p.lead with no additional class needed.
		font-size: 20px;
		font-weight: 300;
	}

	// Background colors - override actual background color assignment.
	&.has-asu-maroon-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: $uds-color-base-maroon;
		}
	}

	&.has-asu-gold-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: $uds-color-base-gold;
		}
	}

	&.has-asu-blue-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: $uds-color-base-blue;
		}
	}

	&.has-asu-green-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: $uds-color-base-green;
		}
	}

	&.has-asu-orange-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: $uds-color-base-orange;
		}
	}

	&.has-asu-copper-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: #AF674B
		}
	}

	&.has-asu-turquoise-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: #4AB7C4
		}
	}

	&.has-asu-pink-background-color {
		background-color: $uds-color-base-gray-2 !important;

		svg {
			fill: #E74973
		}
	}
}

/**
 * Fixes specifically for the block editor. (No separate enqueue used.)
 */
.wp-block.wp-block-acf-news-quote.has-background {
	background-color: transparent !important;

	.components-button svg {
		fill: currentColor;
	}
}

/*--------------------------------------------------------------
Highlight title
# - Standard box shadow applied to a heading "outdents" the heading by 6px.
# - Fixes the outdent so that elements like badge-rectangle line up correctly.
--------------------------------------------------------------*/
.highlight-title {
	margin-left: 6px;
}

/*--------------------------------------------------------------
News related terms
# - Output of block will either be a <div> or <ul> with the same class.
--------------------------------------------------------------*/

.news-related-terms {

	// Output: buttons
	a.btn+a.btn {
		margin-left: $uds-size-spacing-2;
	}

	// Output: badges.
	// Styles adapted from element found within Unity card specifications.
	.badge {
		font-size: .75rem;
		padding: .25rem .75rem;
		margin: 8px 1rem 0 0;
		line-height: 1.5;

		&.badge-rectangle {
			border-radius: 0;
			background-color: #e8e8e8;
			color: #191919;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.wp-block-group.overlap-badges {
	position: relative;

	.news-related-terms {
		position: absolute;
		bottom: 0;
		z-index: 5;
	}
}

// Block editor override - sets things back to normaal.
.editor-styles-wrapper .wp-block-group.overlap-badges .news-related-terms {
	position: relative;
}

/*--------------------------------------------------------------
Related person
- Typically occurs within .news-grid aside.is-style-news-aside
- Style should work within other places as well.
--------------------------------------------------------------*/
.related-person {

	display: grid;
	grid-template-columns: 80px 1fr;
	grid-template-rows: auto auto auto;
	column-gap: 1rem;
	align-items: start;

	margin-bottom: $uds-size-spacing-3;

	.search-image {
		grid-column: 1;
		grid-row: 1 / span 3;
		max-width: 80px;
		height: auto;
		aspect-ratio: 1;
		border-radius: 100% 100% 100% 100%;
	}

	.display-name,
	.title,
	.department {
		grid-column: 2;
	}

	.display-name {
		margin-top: 0;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}

	.title {
		font-weight: 700;
	}
}

// Information density for block styles.
.related-people.is-style-compact {

	.related-person {
		grid-template-columns: $uds-size-spacing-6 1fr;

		.search-image {
			max-width: $uds-size-spacing-6;
		}
	}

	.department {
		display: none;
	}

	.related-person.unknown {
		.department {
			display: block;
		}

		.title {
			display: none;
		}
	}
}

.related-people.is-style-icon-only {

	.related-person {
		display: inline;
		margin-right: $uds-size-spacing-1;

		.search-image {
			max-width: $uds-size-spacing-4;
		}
	}

	.title,
	.department,
	.display-name {
		display: none;
	}
}


/*--------------------------------------------------------------
News Aside, mobile styles
- Block settings cover what this block should look like on desktop.
- Adjusting display to make content look more like article body.
--------------------------------------------------------------*/
@include media-breakpoint-down($lg) {
	.wp-block-group.is-style-news-aside {
		background-color: #ffffff !important;
		padding: 2rem 1rem 1rem 1rem !important;
		margin-top: 2rem;
		border-top: 2px dotted $uds-color-base-gray-3;
	}
}


/*--------------------------------------------------------------
AddToAny widgets
- Two placements within single.php, output via block render hook.
--------------------------------------------------------------*/

.news-featured-img+.addtoany-wrapper {
	margin-bottom: $uds-size-spacing-6;
}

.news-authorbox+.addtoany-wrapper {
	margin-bottom: $uds-size-spacing-10;
}