/*--------------------------------------------------------------
# Taxonomy term page - asu_person
--------------------------------------------------------------*/

// Mobile first
.tax-asu_person {

	#profile-details {
		padding-top: $uds-size-spacing-2;
		margin-bottom: $uds-size-spacing-8;

		.landmark {
			display: inline-block;
			margin-bottom: $uds-size-spacing-4;
		}

		.search-img {
			display: block;
			border-radius: 100%;
			max-width: 100px;
		}

		.info-bar {
			.btn+.btn {
				margin-left: 1rem;
			}

			.email.btn svg {
				margin-right: $uds-size-spacing-1;
			}
		}

	}

	#related-topics {
		display: none;
	}

	.post-cards {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.card-title a,
		.card-title a:visited {
			text-decoration: underline;
		}

		.story-date svg {
			margin-right: .5rem;
		}
	}

	#story-column-wrap {
		margin-top: $uds-size-spacing-6;
	}

	.story-column {
		margin: $uds-size-spacing-4 0;

		.story-thumb {
			margin-bottom: $uds-size-spacing-4;
		}
	}

	.external-layout {
		padding: 2rem 2rem;
	}

	.news-feed {

		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 0 2rem;
		padding-bottom: 4rem;

		.news-post {

			height: auto;

			.publications {
				position: absolute;
				top: 0;
				left: 0;

				.badge {
					margin-top: 0;
					background-color: #191919;
					color: #ffffff;
					border-color: #191919;
				}
			}

			.card-title svg {
				margin-left: $uds-size-spacing-1;
			}

			.timestamp {
				display: flex;
				gap: $uds-size-spacing-1;

				time:after {
					content: '•';
					margin-left: $uds-size-spacing-1;
				}

				button {
					color: $uds-color-base-maroon;
					text-decoration: underline;
					border: none;
					background-color: transparent;
					width: auto;
					cursor: pointer;
					padding: 0px;
					text-align: right;
					justify-self: end;
					font-size: 1rem;
				}
			}
		}
	}

}

/*--------------------------------------------------------------
2. Desktop, LG
--------------------------------------------------------------*/
@include media-breakpoint-up($lg) {
	.tax-asu_person {
		.article-layout {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: repeat(2, auto);
			grid-column-gap: $uds-size-spacing-8;
			grid-row-gap: $uds-size-spacing-8;

			padding: $uds-size-spacing-6 0;
		}

		#profile-wrapper {
			grid-column: 1;
			grid-row: 1 / span 2;

			.search-img {
				max-width: 256px;
			}

			#related-topics {
				display: block;
				margin-top: $uds-size-spacing-8;
				padding-top: $uds-size-spacing-2;
				border-top: 2px solid $uds-color-base-gray-2;
			}
		}

		.post-cards {
			grid-column: 2;
			grid-row: 1;

			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $uds-size-spacing-4;
		}

		#story-column-wrap {
			margin-top: 0;
		}

		.story-column {

			.story-thumb {
				margin-bottom: $uds-size-spacing-6;

				display: flex;
				flex-direction: row;
				gap: $uds-size-spacing-4;

				figure {
					width: 150px;
				}
			}

		}

		.external-layout {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding: $uds-size-spacing-6 0;
		}

		.news-feed {

			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: $uds-size-spacing-6;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2rem;

			.news-post {
				width: auto;
				margin: 0;
			}
		}

	}
}
