/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/unity-bootstrap-theme/_custom-asu-variables.scss";
@import 'media-queries';

// Single news posts
@import 'news-header';
@import 'news-layout';
@import 'news-elements';
@import 'news-authorbox';

// Landing pages, category pages, archive pages
@import 'archive';
@import 'landing-layout';
@import 'post-group';
@import 'tax-asuperson';
@import 'tax-topic';


// External News posts and blocks
@import 'external-news';
@import 'media-isotope';

// Other CPT templates
@import 'outstand-grad';


// Internal anchor scroll height.
// Targets any heading block with an ID within the <main>
main .wp-block-heading[id] {
	scroll-padding-top: 8rem;
	scroll-margin-top: 8rem;
}

/**
 * Add decoration to page templates with the "no title + hexagon" template applied.
 * Desktop only - mobile page should be decoration-free.
 */
@include media-breakpoint-up($lg) {
	body.page-template-no-title-hexagon-bg main {
		background-image:
			url('../../img/bg-hexagon-up_right.png'),
			url('../../img/bg-hexagon-low_left.png');

		background-repeat:
			no-repeat,
			no-repeat;

		background-position:
			calc(50% + 770px) 0px,
			calc(50% - 770px) 100%
	}
}
