/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/unity-bootstrap-theme/_custom-asu-variables.scss";
@import 'media-queries';

// Single news posts
@import 'news-header';
@import 'news-layout';
@import 'news-elements';
@import 'news-authorbox';

// Landing pages, category pages, archive pages
@import 'archive';
@import 'landing-layout';
@import 'post-group';
@import 'tax-asuperson';
@import 'tax-topic';


// External News posts and blocks
@import 'external-news';

// Other CPT templates
@import 'outstand-grad';


// Internal anchor scroll height.
// Targets any heading block with an ID within the <main>
main .wp-block-heading[id] {
	scroll-padding-top: 8rem;
	scroll-margin-top: 8rem;
}